---
Language:        Cpp
BasedOnStyle:    LLVM
IndentWidth:     2
TabWidth:        2
UseTab:          Never
ColumnLimit:     100
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
IndentCaseLabels: true
IndentGotoLabels: true
IndentPPDirectives: AfterHash
SortIncludes:    true
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles:  false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: false
BinPackArguments: true
BinPackParameters: true
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
ReflowComments: true
SortUsingDeclarations: true
SpacesBeforeTrailingComments: 2
Standard: Cpp11
...
